#the-nav {
	z-index: 1000;
	text-shadow: 0px 0px 1px black, 0px 0px 3px #8eeaff;
	-webkit-text-stroke: 0.03em black;
}

#the-nav .navbar-nav {
    color:#bfbfbf;
} 

#the-nav .nav-link.active, #the-nav .nav-link, #the-nav .nav-link:hover, #the-nav .navbar-brand {
	color:#bfbfbf;
}

#main-image-at-top {
    z-index: 1;
}

#main-container {
    position: relative;
    z-index: 1000;
}

.text-post {
    border-right: 4px dashed #00bcb9;
    background-color: rgba(242, 255, 255, 0.5);
}